*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(28, 54, 54);
}
.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
}

#titulo{
    border: 2px solid black;
    color: red;
    font-weight: bold;
    width: 120px;
    padding: 20px;
}

#titulo:hover{
    background-color: rgb(29, 33, 37);
    cursor: pointer;
}

.buscador{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#categorias{
    margin: 10px 0px;
}

#categorias label{
    margin-right: 5px;
    color:white;
    border: 3px solid black;
    border-radius: 10%;
    padding: 5px;
}

#categorias select{
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: crimson;
    color: white;

}

input{
    margin-right: 5px;
    color:white;
    border: 3px solid black;
    border-radius: 10%;
    background-color: transparent;
    outline: none;
    padding: 5px;
}

input::placeholder{
    color: white;
}

input:focus{
    border: 0;
    border-bottom: 3px solid black;
    padding: 5px;   
}

#btn-buscar{
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: crimson;
    color: white;
}

#btn-buscar:hover{
    background-color: rgb(182, 11, 46);
}

.contenedorPadre{
    display: flex;

}